<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org">

<head th:replace="fragments/general :: head"></head>

<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">

        <header id="navigation" th:fragment="header">
            <nav class="navbar navbar-expand-lg fixed-top">
                <a href="/welcome"><span class="navbar-brand">Food2u</span></a>
                <button class="navbar-toggler collapsed navbar-dark" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                    <div class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right"
                                 aria-labelledby="navbarDropdown">
                                <p class="dropdown-item dropdown-header" th:inline="text">[[${user.firstName}]] [[${user.lastName}]]</p>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </header>

        <section id="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-auto col-md-auto col-sm-auto form-col sign-in-div">
                        <h3 class="sign-in-header">Please change your password</h3>
                        <form class="lusu-form" id="change_password" th:action="@{/change_password_admin}" th:object="${changePasswordForm}" method="post">
                            <p class="form-error" th:inline="text" th:if="${!changePasswordForm.passwordsMatch}">
                                Both passwords must match.
                            </p>
                            <div class="form-group">
                                <label for="inputEmail">Email address</label>
                                <input type="email" name="email" class="form-control" id="inputEmail"
                                    th:field="*{username}" required>
                            </div>
                            <div class="form-group">
                                <label for="cpaPassword1">New Password</label>
                                <input type="password" class="form-control" id="cpaPassword1"
                                th:field="*{password1}" required minlength="6" maxlength="30"
                                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{6,}$">
                            </div>
                            <div class="form-group">
                                <label for="cpaPassword2">Re-enter Password</label>
                                <input type="password" class="form-control" id="cpaPassword2"
                                th:field="*{password2}" required minlength="6" maxlength="30"
                                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{6,}$">
                            </div>
                            <div class="submit-box">
                                <button type="submit" class="btn btn-dark submit-button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="fragments/general :: footer"></footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script th:src="@{scripts/cpa_script.js}"></script>
</body>

</html>